body  
{  background-image: url('a.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-size: cover;
    margin: 0;  
    padding: 0;  
    
    font-family: 'Arial';  
} 
p{
font-weight:bold;
font-size: 25px; 
margin-top:-10px;
}	
.newtask{  

        width: 350px; 
height:800px;		
        overflow: hidden;  
        margin: auto;  
        margin: 200 0 0 530px;  
        padding: 70px;  
        background-color: #bf266a;  
        border-radius: 15px ; 
border-style: solid;
  border-width: 5px;
border-color:black;  
          
}   
label{  
    color: white;  
    font-size: 17px;
margin-top:10px;
	
}  
#taskid{ 
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
	margin-top: 8px; 
	margin-bottom:10px;
	
}  
#taskname{ 
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
	margin-top: 8px;
margin-bottom:10px;	
	
}  

#category{ 
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
	margin-top: 8px; 
	margin-bottom:5px;
	
}  
 
#datepicker {
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
 
	

}
button{
	
	width:100px;
	height:30px;
	font-size:20px;
	
	
	
}



    
    
 

